h1{
    text-align: center;
}
div{
    text-align: center;
}
body{
    background-image: url(../img/nature_anime_trees_grass-146030.jpg!d);
}
label{
    background-color: black;
    color: white;
}